/*Following code is the CSS for the Contact Us form. All fonts are linked through URLs so that it doesn't disappear when opened on a different machine or through CodePen. All colors are in hexa-decimal form*/


@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); /*Importing the required font for this document through google fonts*/

* {
    box-sizing: border-box; 
}

/*All the styling that is reuired to be applied to the entire document*/
body {
    background-color: #00203FFF;
    font-family: Oxygen;
}

/*seperate stylings for the heading*/
h1 {
    color: #00203FFF;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    padding: 0;
}

/*styling for all the elements in the form and the box that contains it*/
.box {
    font-family: "Oxygen";
    font-size: 20px;
    position: relative; left: 575pt; top:10pt; /*to position it in the centre and lower it a little*/
    background-color: #ADEFD1FF;
    padding: 5px 25px 15px;
    width: 400px;
    border-radius: 10px;
}

input[type="text"], input[type="email"], input[type="number"], select,textarea
{
    color: #00203FFF;
    width: 100%;
    padding: 10px;
    font-family: Oxygen; /*font-family had to be specified again as the font in the textarea was still the default font*/
    font-weight: bold;
    border-radius: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button /*to remove the arrow buttons in the number input type(mostly for aesthetics, but it was also pretty useless anyways)*/
{
  -webkit-appearance: none; 
   margin: 0;
}

input[type="submit"]
{
    color: #ADEFD1FF;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    background-color: #00203FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover
{
    background-color: rgb(32, 51, 70);
}

/*this class contains the p tag which informs about the starmarked fields*/
.starmarked {
    position: relative; left: 1275pt; top: 700pt;
    width: 11%;
    color: #ADEFD1FF;
    font-size: 12px;
}

a {
    color: #ADEFD1FF;
    text-decoration: none;
    font-size: 30px;
    position: relative; top: -30px;
}

a:hover {
    color: rgb(207, 238, 224);
}