@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); /*Importing the required font for this document through google fonts*/

body {
    background-color: #00203FFF;
    font-family: Oxygen;
}

h1 {
    color: #ADEFD1FF;
}

a {
    color: #ADEFD1FF;
    text-decoration: none;
}

a:hover {
    color: rgb(207, 238, 224);
}
